<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/login.css" type="text/css">
    <title>Titulo maneirissimo</title>
</head>
<body>
    <main>
        <h1>Titudo dahora demais</h1>

        <form method="post" action="{{URL}}/home">

            <label for="user">Usuário</label>
            <input type="text" id="user" name="nome">  

            <label for="password">Senha</label>         
            <input type="password" id="password" name="senha">    

            <button type="submit">Acessar</buttontype=>

        </form>

    </main>
</body>
</html>