<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/login.css" type="text/css">
    <title>Titulo maneirissimo</title>
</head>
<body>
    <main>
        <h1>Titudo dahora demais</h1>

        <form method="POST" action="../Model/Login_validation.php">
            <label for="user">User</label>
            <input type="text" id="user">  
            <label for="password">Password</label>         
            <input type="password" id="password">                        
            <input type="submit" value="acessar" id="submit">
        </form>

    </main>
</body>
</html>